:root {
    --white: #FFFFFF;

    --black: #060606;
    --black2: #0000004D;
    --black3: #0B0B0B;

    --gray: #FFFFFF26;
    --gray2: #FFFFFF1A;
    --gray3: #202124;
    --gray4: #9AA0A6;
    --gray5: #767777;


    --yellow: #FBBC04;

    --yellow-gradient: linear-gradient(90deg, #FBBC04 35%, #FF902A 90%);


}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;

}

main {
    flex: 1 1 auto;
}

.big-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1325px;
    width: 100%;
    margin: 0 auto;
    padding: 0 28px;

}

.small-container {
    max-width: 1103px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 0 15px;
}

.text-wrap {
    display: block;
}

.desktop-text-wrap {
    display: block;
}


.img-mobile {
    display: none;
}

.section {
    margin-top: 111px;
}


.btn-orange {
    background: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    vertical-align: middle;
    color: var(--black);
    border-radius: 500px;
    padding: 13px 49px;
    transition: .5s;
    position: relative;
    overflow: hidden;


}


.btn-orange::after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--yellow-gradient);
    z-index: -1;
    border-radius: 500px;
    width: 100%;
    height: 100%;
    transition: .5s;


}


.btn-orange:hover {
    background: var(--white);
    color: var(--black);


}

.btn-orange:hover::after {
    transform: translateX(100%);

}

.play-button {
    width: 48px;
    height: 48px;
    background: var(--gray3);
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
    position: absolute;
}

.block-text {
    font-weight: 400;
    font-size: 15.13px;
    line-height: 130%;
    letter-spacing: 0.1px;
    width: 100%;
    color: var(--gray5);
}

.play-button.played {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.play-button.active {
    opacity: 1;
    pointer-events: auto;
}


.play-button i {
    font-size: 14px;
    background: var(--white);
    transition: .5s;
    margin-left: 4px;

}

.play-button:hover {
    background: var(--white);
}

.play-button:hover i {
    background: var(--black);
}

.gradient-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.5px;
    text-align: center;
    vertical-align: middle;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: var(--yellow-gradient);
    padding: 30px 0;

}

.section-titles h2 {
    font-weight: 600;
    font-size: 55px;
    line-height: 56px;
    letter-spacing: -0.5px;
    text-align: center;
    color: var(--white);

}

.section-titles p {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    margin-top: 18px;
    color: var(--gray4);

}


.video-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-white {
    color: var(--white);
}

.video-el {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}
.mobile-block{
    display: none;
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {


}

@media (max-width: 992px) {


}

@media (max-width: 768px) {

    .desktop-text-wrap {
        display: inline;
    }

    .desktop-block {
        display: none;
    }
    .mobile-block{
        display: flex;
    }

    .gradient-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: -0.5px;
        padding: 0;

    }
    .section {
        margin-top: 100px;
    }


    .section-titles h2 {
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0.08px;


    }
    .section-titles p{
        margin-top: 30px;
        font-size: 15.12px;
        line-height: 130%;
        color: var(--white);

    }
}

@media (max-width: 576px) {

    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    .mobile-text-wrap {
        display: block;
    }


}

@media (max-width: 400px) {

}